/* header */
.nav-container { 
    padding-top: 32px;
    padding-bottom: 32px;
 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 635px;
    height: 24px;
}
.main-menu{
    margin: 0;
    padding: 0;
  display: flex;
  justify-content: space-between;
}
.body-page
{

    margin:0;
}
.post-img
{
width: 100%;
display: block;
}
.main-menu-item 
{

    display: inline-block;
    list-style-type: none;
    color: #000000;
text-align: center;
font-size: 18px;
font-weight: 400;

}

.main-menu-link {
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 135%; 
}

.caption 
{
    text-align: center;
    color: #000;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 600;
line-height: 135%; 
margin: 0;
}
.post-container
{

}
.text-container
{
    display: block;
    margin-left: auto;
    margin-right: auto;
width: 856px;
padding-top: 88px;
padding-bottom: 88px;
align-items: center;

}
.title 
{
    color: #161616;
font-family:sans-serif;
font-size: 21px;
font-weight: 500;
line-height: 150%;
margin: 0;
}

.style-text {
    color: #04959E;
    font-weight: 600;

}

.text-container-child
{
    display: block;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.list-container
{
    margin-top: 24px;
    padding: 0;
    list-style-position: inside;
}
.list-item 
{

color: #161616;
font-family: sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 150%; 
}

.btn {
    background: #04959E;
    display: block;
    padding: 10px 24px;
    border: none;
    color: #FFF;
font-family: sans-serif;
font-size: 18px;
font-weight: 400;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
}
hr {
    margin: 0;
}
.copyright
{
    color: #161616;
text-align: center;
font-family: sans-serif;
font-size: 18px;
font-weight: 400;
margin: 0;
}
footer {
    padding: 16px 0;
}